/*Utilities*/
header ul {
  display: flex;
  flex-direction: inherit;
  justify-content: space-around;
  text-align: inherit;
}

div, p, h6, h5, h4, h3, h1 {
  padding: 15px;
}

.btn:hover {
  box-shadow: 0px 0px 10px black;
  background-color: #162d4f;
  color: white;
}

.btn {
  background-color: #162d4f;
  color: white;
  padding: 10px;
  margin: 10px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/*Estilos generales fuentes*/
@font-face {
  font-family: AkatabMarca;
  src: url("../assets/fonts/Akatab/Akatab-Regular.ttf");
}
h1 {
  color: #02402e;
  font-size: 24px;
}

h2 {
  color: #4f514f;
  font-size: 20px;
}

.secondaryColor {
  color: #4f514f;
  font-size: 20px;
  font-weight: bold;
}

p {
  color: #4f514f;
  font-size: 18px;
  text-align: center;
}

body {
  font-family: "AkatabMarca";
}

/*Estilos generales imagenes*/
img {
  width: 100%;
}

.logoSize {
  padding: 5px;
  background-color: #ffffff;
  border-radius: 20%;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 100%;
  height: 100vh;
  max-width: 150px;
  max-height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.wspIcon {
  width: 50px;
  margin: 25px;
  position: fixed;
  right: 0;
  bottom: 0;
  z-index: 1;
}

/*Box Modeling*/
h2 {
  padding: 10px;
}

.redesSociales {
  margin: 10px;
}

@font-face {
  font-family: AkatabMarca;
  src: url("../assets/fonts/Akatab/Akatab-Regular.ttf");
}
/*components*/
header .container-fluid {
  background-color: whitesmoke;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.1);
  width: 100%;
}
header .navbar-brand, header .nav-link {
  font-size: 1.25rem;
  color: #02402e;
}
header .navbarNavDropdown {
  color: #02402e;
}
header .dropdown-menu {
  background-color: whitesmoke;
}
header .dropdown-item {
  color: #4f514f;
}
header .nav-item {
  color: #02402e;
}
header .headerColor {
  background-color: #02402e;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.1);
  padding: 40px;
  width: 100%;
}
header .dropdown-item:hover {
  color: #02402e;
}
header .nav-link {
  color: #02402e !important;
}

/*Estilos del footer*/
.footerStyle {
  background-color: #ededed;
  padding: 20px;
  position: relative;
  height: 55vh;
}
.footerStyle p {
  text-align: center;
  margin: 0;
  padding: 25px;
}

.ssnImg {
  width: 15%;
  position: absolute;
  left: 80%;
  top: 60%;
}

.subtitle {
  font-size: 15px;
}

.iconStyle, .iconstyleDos, .iconstyleTres, .iconstyleCuatro {
  width: 2%;
  position: absolute;
  bottom: 100%;
  display: flex;
  z-index: 10;
}

.iconStyle {
  left: 6%;
  top: 64%;
}

.iconstyleDos {
  left: 10%;
  top: 64%;
}

.iconstyleTres {
  left: 14%;
  top: 64%;
}

.iconstyleCuatro {
  width: 5%;
  left: 50%;
  top: 70%;
  position: absolute;
  display: flex;
}

.sobrenosotrosFooter {
  padding: 20px;
  position: relative;
  height: 55vh;
}
.sobrenosotrosFooter p {
  text-align: center;
  margin: 0;
  padding: 25px;
}

.subtitle {
  font-size: 15px;
}

.iconStyle, .iconstyleDos, .iconstyleTres, .iconstyleCuatro {
  width: 2%;
  position: absolute;
  bottom: 100%;
  display: flex;
}

.iconStyle {
  left: 6%;
  top: 64%;
}

.iconstyleDos {
  left: 10%;
  top: 64%;
}

.iconstyleTres {
  left: 14%;
  top: 64%;
}

.iconstyleCuatro {
  width: 5%;
  left: 50%;
  top: 70%;
  position: absolute;
  display: flex;
}

/*Grids*/
.grids {
  display: grid;
  text-align: center;
  grid-template-columns: 1.5fr 1fr 1fr 1fr;
  grid-template-rows: repeat(2, 215px);
  grid-template-areas: "institucional accidentes art responsabilidadCivil" "institucional vida hogar automovil";
}

.institucional {
  grid-area: institucional;
  width: 65%;
  height: auto;
}

.accidentes {
  grid-area: accidentes;
}

.art {
  grid-area: art;
}

.responsabilidadCivil {
  grid-area: responsabilidadCivil;
}

.vida {
  grid-area: vida;
}

.automovil {
  grid-area: automovil;
}

.hogar {
  grid-area: hogar;
}

.grids img {
  width: 65%;
  height: 100%;
}

@keyframes aparecer {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.grids img:hover {
  animation-duration: 1s;
  animation-name: aparecer;
  animation-iteration-count: infinite;
}

/*pages*/
main .sectionBanner img {
  width: 180%;
  height: 50%;
  border-radius: 2%;
}

.container {
  height: 80vh;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.row {
  display: flex;
  align-items: flex-start;
  position: relative;
}

.containerStyle,
.containerstyleDos {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  border-radius: 20%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 8px 16px rgba(0, 0, 0, 0.1);
  background-color: #e6e6e6;
  overflow: hidden;
  width: 400px;
  height: 300px;
  transition: transform 0.3s ease;
  position: relative;
}

.containerstyleDos {
  position: absolute;
  left: 130%;
  top: 60%;
}

.form-check-input:checked {
  background-color: #162d4f;
  border-color: white;
}

.servicesstylestitleDos {
  font-size: 20px;
  font-weight: 700;
  color: #02402e;
}

.form-check {
  margin: 20px;
}

.map {
  width: 90%;
  max-width: 800px;
  margin-top: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, padding-left 0.3s ease;
}

.map:hover {
  padding-left: 50px;
  transform: scale(1.15);
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
}

.form-group input, .form-group textarea {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.servicesstylesTitle {
  font-size: 40px;
  font-weight: 700;
  color: #02402e;
}

#servicesheadTitle {
  font-size: 40px;
  font-weight: 700;
  color: #02402e;
}

.servicesstylesbody {
  font-size: 18px;
}

.ServicesHead {
  color: #4f514f;
  font-size: 50px;
  font-weight: 700;
}

#sobreNosotros {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 20px;
}
#sobreNosotros .card {
  background-image: linear-gradient(120deg, #acacac 10%, #646464 50%);
  width: 90%;
  max-width: 800px;
  height: auto;
  border-radius: 10px;
  border: 1px solid darkgrey;
  box-shadow: 0 10px 20px black;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
  position: relative;
}
#sobreNosotros .card * {
  transition: 400ms;
}
#sobreNosotros .card:hover .cardImg {
  transform: translateY(28px);
  transition: 0.3s ease;
}
#sobreNosotros .card:hover .cardImg img {
  transform: translate(16px, 42px) rotate(16deg) scale(1.4);
  transition: 0.3s ease;
}
#sobreNosotros .card:hover .cardContent {
  opacity: 1;
  transition: opacity 0.3s ease;
}
#sobreNosotros .cardImg img {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 10px;
  object-fit: cover;
}
#sobreNosotros .cardContent {
  opacity: 0;
  position: absolute;
  top: 10px;
  right: 10px;
  text-align: right;
  z-index: 1;
  width: auto;
  animation: fadeIn 2s ease-in-out forwards;
  animation-delay: 3s;
}
#sobreNosotros .cardContent h2 {
  font-weight: bold;
  font-size: 1.5rem;
  color: white;
  margin: 0;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.servicesstylesbodyTres {
  font-size: 20px;
}

/*media queries*/
/* tablet entre 769 y 1024px */
@media screen and (max-width: 1024px) {
  header ul {
    flex-direction: column;
  }
  .grids {
    text-align: center;
    justify-content: center;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat 4, 50px;
    grid-template-areas: "institucional accidentes" "institucional art" "responsabilidadCivil vida" "hogar automovil";
  }
  .grids img {
    width: 50%;
    height: 100%;
  }
  .institucional {
    width: 100%;
    height: 100%;
  }
  .card {
    flex-direction: row;
    height: auto;
  }
  .logoSize {
    max-width: 120px;
    max-height: 120px;
  }
  main .sectionBanner img {
    width: 150%;
    height: 50%;
  }
}
/* FIN tablet entre 769 y 1024px */
/* mobile entre 320 y 768px */
@media screen and (max-width: 768px) {
  .grids {
    text-align: center;
    justify-content: center;
    padding-left: 10px;
    padding-right: 10px;
    grid-template-columns: 0.5fr 0.5fr;
    grid-template-rows: auto;
    grid-template-areas: "accidentes art" "responsabilidadCivil vida" "hogar automovil";
  }
  .institucional {
    display: none;
  }
  .accidentes,
  .art,
  .responsabilidadCivil,
  .vida,
  .hogar,
  .automovil {
    width: 100%;
    height: auto;
  }
  .grids img {
    width: 100%;
    height: auto;
  }
  h1 {
    font-size: 16px;
  }
  h2 {
    font-size: 12px;
  }
  .secondaryColor {
    font-size: 16px;
  }
  p {
    font-size: 12px;
  }
  .map {
    width: 100%;
    height: auto;
  }
  .map:hover {
    padding-left: 0px;
  }
  .cardContent {
    display: none;
  }
  .card {
    flex-direction: column;
    width: 100%;
  }
  .cardImg img {
    width: 100%;
    height: auto;
  }
  .logoSize {
    max-width: 60px;
    max-height: 55px;
  }
  main .sectionBanner img {
    width: 120%;
    height: 50%;
  }
  .footerStyle {
    height: auto;
    padding: 10px;
  }
  .footerStyle p {
    padding: 10px;
  }
  .ssnImg {
    width: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 78%;
  }
  .subtitle {
    font-size: 12px;
  }
  .iconStyle, .iconstyleDos, .iconstyleTres {
    width: 6%;
    bottom: auto;
    top: auto;
  }
  .iconStyle {
    left: 5%;
    top: 90%;
  }
  .iconstyleDos {
    left: 15%;
    top: 90%;
  }
  .iconstyleTres {
    left: 25%;
    top: 90%;
  }
  .iconstyleCuatro {
    width: 6.5%;
    left: 35%;
    top: 90%;
  }
}
/* FIN mobile entre 320 y 768px */
/* celular entre 320 y 480px */
@media (max-width: 480px) {
  .cardContent {
    font-size: 1.5rem;
  }
  .card {
    padding: 10px;
  }
  .container {
    flex-direction: column;
    align-items: center;
  }
  .containerStyle, .containerstyleDos {
    width: 100%;
    height: auto;
  }
  .containerstyleDos {
    position: static;
    margin-top: 20px;
  }
}
/* FIN celular entre 320 y 480px */

/*# sourceMappingURL=estilos.css.map */
