/*Utilities*/
header ul {
  display: flex;
  flex-direction: inherit;
  justify-content: space-around;
  text-align: inherit;
}

div, p, h6, h5, h4, h3, h1 {
  padding: 5px;
}

.btn:hover {
  box-shadow: 0px 0px 10px black;
  background-color: #162d4f;
  color: white;
}

.btn {
  background-color: #162d4f;
  color: white;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/*Estilos generales fuentes*/
@font-face {
  font-family: AkatabMarca;
  src: url("../assets/fonts/Akatab/Akatab-Regular.ttf");
}
h1 {
  color: #02402e;
  font-size: 24px;
}

h2 {
  color: #4f514f;
  font-size: 20px;
}

.secondaryColor {
  color: #4f514f;
  font-size: 20px;
  font-weight: bold;
}

p {
  color: #4f514f;
  font-size: 18px;
  text-align: center;
}

body {
  font-family: "AkatabMarca";
}

/*Estilos generales imagenes*/
img {
  width: 100%;
}

.logoSize {
  margin: 10px, 1px;
  width: 8%;
  padding: 10px;
}

.wspIcon {
  width: 50px;
  margin: 25px;
  position: fixed;
  right: 0;
  bottom: 0;
  z-index: 1;
}

/*Box Modeling*/
h2 {
  padding: 10px;
}

.redesSociales {
  margin: 10px;
}

@font-face {
  font-family: AkatabMarca;
  src: url("../assets/fonts/Akatab/Akatab-Regular.ttf");
}
/*components*/
header ul {
  list-style-type: none;
  padding: 25px, 10px, 25px, 10px;
  display: flex;
  justify-content: space-around;
}
header ul a {
  text-decoration: none;
}
header ul a:hover {
  color: #02402e;
}
header .navIndex {
  position: fixed;
  top: 0;
  z-index: 1;
}
header .navbar-brand {
  color: #02402e;
}
header .navbarNavDropdown {
  color: #02402e;
}
header .nav-link {
  color: #02402e;
}
header .nav-item {
  color: #162d4f;
}
header nav {
  background-color: whitesmoke;
  width: 100%;
}

/*Estilos del footer*/
footer p {
  text-align: center;
}

.footerColor {
  background-color: #ededed;
  padding: 20px;
}

/*Grids*/
.grids {
  display: grid;
  text-align: center;
  grid-template-columns: 1.5fr 1fr 1fr 1fr;
  grid-template-rows: repeat(2, 215px);
  grid-template-areas: "institucional accidentes art responsabilidadCivil" "institucional vida hogar automovil";
}

.institucional {
  grid-area: institucional;
  width: 65%;
  height: auto;
}

.accidentes {
  grid-area: accidentes;
}

.art {
  grid-area: art;
}

.responsabilidadCivil {
  grid-area: responsabilidadCivil;
}

.vida {
  grid-area: vida;
}

.automovil {
  grid-area: automovil;
}

.hogar {
  grid-area: hogar;
}

.grids img {
  width: 65%;
  height: 100%;
}

@keyframes aparecer {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.grids img:hover {
  animation-duration: 1s;
  animation-name: aparecer;
  animation-iteration-count: infinite;
}

/*pages*/
main .sectionBanner img {
  width: 180%;
  height: 50%;
}

.headerColor {
  background-color: #ededed;
  padding: 20px;
}

.form-check-input:checked {
  background-color: #162d4f;
  border-color: white;
}

.map {
  width: 90%;
  max-width: 800px;
  margin-top: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, padding-left 0.3s ease;
}

.map:hover {
  padding-left: 50px;
  transform: scale(1.15);
}

#sobreNosotros {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 20px;
}
#sobreNosotros .card {
  background-image: linear-gradient(120deg, #acacac 10%, #646464 50%);
  width: 90%;
  max-width: 800px;
  height: auto;
  border-radius: 10px;
  border: 1px solid darkgrey;
  box-shadow: 0 10px 20px black;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
  position: relative;
}
#sobreNosotros .card * {
  transition: 400ms;
}
#sobreNosotros .card:hover .cardImg {
  transform: translateY(28px);
  transition: 0.3s ease;
}
#sobreNosotros .card:hover .cardImg img {
  transform: translate(16px, 42px) rotate(16deg) scale(1.4);
  transition: 0.3s ease;
}
#sobreNosotros .card:hover .cardContent {
  opacity: 1;
  transition: opacity 0.3s ease;
}
#sobreNosotros .cardImg img {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 10px;
  object-fit: cover;
}
#sobreNosotros .cardContent {
  opacity: 0;
  position: absolute;
  top: 10px;
  right: 10px;
  text-align: right;
  z-index: 1;
  width: auto;
  animation: fadeIn 2s ease-in-out forwards;
  animation-delay: 3s;
}
#sobreNosotros .cardContent h2 {
  font-weight: bold;
  font-size: 1.5rem;
  color: white;
  margin: 0;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/*media queries*/
/*Responsive*/
/* tablet entre 769 y 1024px */
@media screen and (max-width: 1024px) {
  header ul {
    flex-direction: column;
  }
  .grids {
    text-align: center;
    justify-content: center;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat 4, 50px;
    grid-template-areas: "institucional accidentes" "institucional art" "responsabilidadCivil vida" "hogar automovil";
  }
  .grids img {
    width: 50%;
    height: 100%;
  }
  .institucional {
    width: 100%;
    height: 100%;
  }
}
/* FIN tablet entre 769 y 1024px */
/* mobile entre 320 y 768px */
@media screen and (max-width: 768px) {
  .grids {
    text-align: center;
    justify-content: center;
    padding-left: 10px;
    padding-right: 10px;
    grid-template-columns: 0.5fr 0.5fr;
    grid-template-rows: auto;
    grid-template-areas: "accidentes art" "responsabilidadCivil vida" "hogar automovil";
  }
  .institucional {
    display: none;
  }
  .accidentes,
  .art,
  .responsabilidadCivil,
  .vida,
  .hogar,
  .automovil {
    width: 100%;
    height: auto;
  }
  .grids img {
    width: 100%;
    height: auto;
  }
  .logoSize {
    margin: 10px 1px;
    width: 20%;
  }
  h1 {
    font-size: 16px;
  }
  h2 {
    font-size: 12px;
  }
  .secondaryColor {
    font-size: 16px;
  }
  p {
    font-size: 12px;
  }
  .map {
    width: 100%;
    height: auto;
  }
  .map:hover {
    padding-left: 0px;
  }
  .cardContent {
    display: none;
  }
  .card {
    flex-direction: column;
    width: 100%;
  }
  .cardImg img {
    width: 100%;
    height: auto;
  }
}
/* FIN mobile entre 320 y 768px */
/* Media Queries sobre nosotros */
@media (max-width: 1024px) {
  .card {
    flex-direction: row;
    height: auto;
  }
}
@media (max-width: 480px) {
  .cardContent {
    font-size: 1.5rem;
  }
  .card {
    padding: 10px;
  }
}

/*# sourceMappingURL=estilos.css.map */
