
/*Reseteo Box Modeling*/

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


/*Estilos generales fuentes*/

@font-face {
    font-family:AkatabMarca;
    src: url("../assets/fonts/Akatab/Akatab-Regular.ttf");
}

h1 {
    color: #02402e;
    font-size: 24px;
}

h2 {
    color: #4f514f;
    font-size: 20px;
}

.secondaryColor {
    color:#4f514f;
    font-size: 20px;
    font-weight: bold;
    }

p {
    color:#4f514f;
    font-size: 18px;
    text-align: center;
}

body {
    font-family: "AkatabMarca";
}

/*Estilos del footer*/

footer p {
    text-align: center;
}

.redesSociales {
    margin: 10px;
}

/*Estilos del nav*/

nav {
    background-color: whitesmoke;
    width: 100%;
}

.navIndex {
    position:fixed;
    top:0;
    z-index:1;
}

.navbar-brand {
color: #02402e;
}

.nav-link{
    color: #02402e;
    }

.nav-item{
    color: #162d4f;
}

.navbarNavDropdown {
    color: #02402e;
}

/*Estilos del header*/

header ul {
    list-style-type: none;
    padding: 25px,10px,25px,10px;
    display:flex;
    justify-content: space-around;
}

header ul a {
    text-decoration: none;
    }

/*Estilos generales imagenes*/

img {
    width: 100%;
}

.sectionBanner img {
width: 180%;
height: 50%;
}

.logoSize {
    margin:10px,1px;
    width:8%;
}

.wspIcon {
    width: 50px;
    margin:25px;
    position: fixed;
    right:0;
    bottom: 0;
    z-index: 1;
}


/*Box Modeling*/

h1 {
    padding: 5px;
}

h2 {
    padding: 10px;
}

h3 {
    padding: 5px;
}

h4 {
    padding: 5px;
}

h5 {
    padding: 5px;
}

h6 {
    padding: 5px;
}

p {
    padding: 5px;
}

div {
    padding: 5px;
}

.logoSize {
    padding: 10px;
}

/*Pseudoclases y componentes*/

header ul a:hover{
    color: #02402e;
}

.grids img:hover{
    box-shadow: 0px 0px 20px black;
    border-radius: 5px;
}

.map:hover{
    padding-left: 50px;
    transform: scale(1.15);
}

.btn:hover {
    box-shadow: 0px 0px 10px black;
    background-color: #162d4f;
    color: white;

}

.btn {
    background-color: #162d4f;
    color: white;
}

.form-check-input:checked {
    background-color: #162d4f;
    border-color: white;
}

/*Grids*/

.grids {

    display: grid;
    text-align: center;
    grid-template-columns: 1.5fr 1fr 1fr 1fr;
    grid-template-rows: repeat(2,215px);
    grid-template-areas:
    "institucional accidentes art responsabilidadCivil"
    "institucional vida hogar automovil";
    }

.institucional {
    grid-area: institucional;
    width: 65%;
    height: 100%;
}

 .accidentes {
    grid-area: accidentes;
}

.art {
    grid-area: art;
}


.responsabilidadCivil {
    grid-area: responsabilidadCivil;
}


.vida {
    grid-area: vida;
}

.automovil {
    grid-area: automovil;
}

.hogar {
    grid-area: hogar;
}

.grids img {
    width: 80%;
    height: 100%
  
}


/*Responsive*/

/* tablet entre 769 y 1024px */
@media screen and (max-width: 1024px) {
    header ul{
        flex-direction: column;
    }


.grids {
    
        text-align: center;
        justify-content: center;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat (4,50px) ;
        grid-template-areas:
            "institucional accidentes"
            "institucional art"
            "responsabilidadCivil vida"
            "hogar automovil"

    }
    
.grids img {
        width: 50%;
        height: 100%; 
}

.institucional {
width: 100%;
height: 100%;
}

}

/* FIN tablet entre 769 y 1024px */


/* mobile entre 320 y 768px */


@media screen and (max-width: 768px) {
    

    .grids {
        text-align: center;
        justify-content: center;
        padding-left: 10px;
        padding-right: 10px;
        grid-template-columns: 0.5fr 0.5fr;
        grid-template-rows: repeat (3,5px) ;
        grid-template-areas:
            "accidentes art"
            "responsabilidadCivil vida"
            "hogar automovil"
    }

.institucional {
  display:none
    }

.accidentes{
    width: 100%;
    height: 73.5%;
}

.art {
    width: 100%;
    height: 75%;

}

.responsabilidadCivil{
    width: 100%;
    height: 75%;
}

.vida{
    width: 100%;
    height: 75%;
}



.grids img {
    width: 100%;
    height: 100%;
}

.logoSize {
    margin:10px,1px;
    width:20%;
}

h1 {
    font-size: 16px;
}

h2 {
    font-size: 12px;
}

.secondaryColor {
    font-size: 16px;
    }

p {
    font-size: 12px;
}

}

/* FIN mobile entre 320 y 768px */







