

.form-check-input:checked {
    background-color: #162d4f;
    border-color: white;
   
   
}


.servicesstylestitleDos {
    font-size: 20px ;
    font-weight: 700 ;
    color: $maincolor ;
}

.form-check {
   margin: 20px;
    
}