.servicesstylesTitle {
    font-size: 40px ;
    font-weight: 700 ;
    color: $maincolor ;
}

#servicesheadTitle {
    font-size: 40px ;
    font-weight: 700 ;
    color: $maincolor;

}

.servicesstylesbody {
    font-size: 18px;

}

.ServicesHead {
    color: $secondarycolor;
    font-size: 50px ;
    font-weight: 700 ;
}