   
header {

   .container-fluid {
    background-color: whitesmoke ;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.1);
    width: 100%;
   }

   .navbar-brand, .nav-link {
    font-size: 1.25rem; 
    color: $maincolor;
}

   .navbarNavDropdown {
    color: $maincolor;
   }

   .dropdown-menu {
    background-color: whitesmoke; 

}

.dropdown-item {
    color: $secondarycolor; 
}

   .nav-item{
    color: $maincolor;
    }

    .headerColor{
        background-color: $maincolor;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.1);
        padding: 40px;
        width: 100%;
    } 

    .dropdown-item:hover {
        color: $maincolor; 
    }

    .nav-link {
        color: $maincolor !important;
    }
}

